html, body {
  height: 100%;
}
/* reset margins */
.row {
  margin: 0;
}

header {
  background-color: #2c3e50;
}

header button {
  min-height: 50px;
  padding: 9px 10px;
  background-color: transparent;
  border: none;
  border-right: 1px solid #212e3b;
}

header button .icon-bar {
  display: block;
  background-color: #fff;
  width: 22px;
  height: 4px;
}

header button .icon-bar + .icon-bar {
  margin-top: 4px;
}

header .main-menu a {
  padding: 11px;
  color: #fff;
  background-color: #334455 !important;
  border-left: 1px solid #26323f;
}

header .main-menu a span {
  font-size: 24px;
}

.headline-img div {
  padding: 0;
}

.headline-img img {
  width: 100%;
}

.headline {
  background-color: #444;
}

.headline h2 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.study-progress {
  margin-bottom: 10px;
}

.study-progress > .mark {
  height: 10px;
  z-index: 2;
}

.study-progress .progress_bar {
  background: #2ecc71;
  height: 10px;
}

.bronze {
  border-right: 3px solid #d96d00;
}

.silver {
  border-right: 3px solid #aaa;
}

.gold {
  border-right: 3px solid #ffc926;
}


.assignment h3,
.assignment h4 {
  font-weight: bold;
}

.bg-gray {
  padding: 15px 0;
  background-color: #ecf0f1;
}

.bg-blue {
  background-color: #2980b9;
}

.bg-blue h4 {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  line-height: 100px;
}

.bg-blue .assignment-due {
  color: #b4d3e7;
}

.bg-blue {
  border-top: 1px solid #fff;
}

.arrow-down {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #2980b9;
}

.all-assignments button {
  font-size: 22px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.all-assignments button:hover,
.all-assignments button:focus {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.lets-go-button,
.wallet-button {
  border: none;
  border-radius: 0;
}

.wallet-button {
  background-color: #95a5a6;
  padding: 20px;
  margin-right: 15px;
}

.wallet-button span {
  color: #fff;
  font-size: 20px;
}

.lets-go-button {
  color: #fff;
  background-color: #2ecc71;
  font-size: 26px;
  padding: 14px 100px;
}

.lets-go-button:hover {
  color: #fff;
}

.badges {
  margin: 0;
  padding: 0;
}

.badges li {
  list-style: none;
  float: left;
}

.badges li img {
  opacity: 0.5;
}

.badges li img.earned {
  opacity: 1.0;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -170px;
  padding-bottom: 170px;
}

.all-assignments-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #ecf0f1;
  top: auto;
  bottom: 100%;
  width: 100%;
  border: none;
  border-radius: 0;
  float: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

/*responsive*/
@media (max-width: 480px) {
  .main-menu {
    margin: 0;
    width: auto;
  }
  .main-menu > li {
    float: left;
  }
  .lets-go-button {
    padding: 14px 50px;
  }
  .headline h2 {
    font-size: 1.4em;
  }
  .badges li img {
    width: 50px;
  }
  .bg-blue h4 {
    line-height: 1;
  }
}
